@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');

body {
  font-family: "Fredoka", sans-serif;
  padding: 20px;
  height: 100vh;
  background: linear-gradient(0deg, rgb(19, 209, 19), #0a0, rgb(7, 177, 7));
  background-size: 600% 600%;
  animation: gradientAnimation 6s ease infinite;
  text-align: center;
  margin: 0;
}

@keyframes gradientAnimation {
  0% {
    background-position: 50% 100%;
  }
  50% {
    background-position: 50% 0%;
  }
  100% {
    background-position: 50% 100%;
  }
}

.imgLogo{
  width: 400px;
}

h1 {
  font-size: 2rem;
  margin-bottom: 20px;
}

.table-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  flex-direction: column;
  padding: 0 10px;
}

table {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  border-spacing: 20px;
}

td {
  background-color: #57c734;
  border: 1px solid #ccc;
  padding: 20px;
  text-align: center;
  cursor: pointer;
  border-radius: 40px;
  font-size: 18px;
  
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  transition: transform 0.2s ease;
  word-wrap: break-word;
}

td:hover {
  
  background-color: #3b991e;
  transform: scale(1.05);
}

/* Modal */
.modal {
  display: none;
  position: fixed;
  top: 0; left: 0; right: 0; bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 10px;
  max-width: 400px;
  width: 100%;
  text-align: center;
}

.modal-content img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

.close {
  float: right;
  font-size: 20px;
  cursor: pointer;
}

.thumbs button {
  font-size: 24px;
  margin: 10px;
  cursor: pointer;
}

.thumbs button.selected {
  background-color: #dfffdc;
  border: 2px solid #3c8c35;
  border-radius: 10px;
  transform: scale(1.1);
}

/* COR PARA O DESLIKE */
.thumbs button.selected-dislike {
  background-color: #ff4d4d; /* Cor vermelha para deslike */
  border: 2px solid #b32d2d; /* Borda vermelha mais escura */
  border-radius: 10px;
  transform: scale(1.1);
}

/* RESPONSIVIDADE */
@media (max-width: 768px) {
  h1 {
    font-size: 1.5rem;
  }

  td {
    font-size: 16px;
    padding: 15px;
  }

  table {
    border-spacing: 10px;
  }
}

@media (max-width: 480px) {
  td {
    font-size: 14px;
    padding: 12px;
  }

  .modal-content {
    padding: 15px;
  }

  .thumbs button {
    font-size: 20px;
  }
}
